.env
.env.*.php
.env.php
/bootstrap/compiled.php

/node_modules
/vendor

/public/storage
/public/uploads
/public/uploads.zip
/public/demo.sql

/storage/*.key
/storage/debugbar
/storage/logs/*.log

/temp
/_ide_helper.php

/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

updates/
updates.zip
ecommerce.zip
install.zip
/public/app-translations
public/all
resources/lang/en.json

/nbproject/private/
/nbproject

.claude/settings.local.json
